.va--b {
  vertical-align: bottom;
}

.va--tb {
  vertical-align: text-bottom;
}

.va--c {
  vertical-align: middle;
}

.va--t {
  vertical-align: top;
}

.va--tt {
  vertical-align: text-top;
}

.ta--left {
  text-align: left;
}

.ta--center {
  text-align: center;
}

.ta--right {
  text-align: right;
}
