.bg--primary {
  background-color: var(--primaryColor);
}
.bg--primary--hover:hover {
  background-color: color(var(--primaryColor) l(-10%));
}

.bg--success {
  background-color: var(--successColor);
}
.bg--success--hover:hover {
  background-color: color(var(--successColor) l(-10%));
}

.bg--danger {
  background-color: var(--dangerColor);
}
.bg--danger--hover:hover {
  background-color: color(var(--dangerColor) l(-10%));
}

.bg--black {
  background-color: var(--blackColor);
}
.bg--black--hover:hover {
  background-color: color(var(--blackColor) l(+10%));
}

.bg--white {
  background-color: var(--whiteColor);
}
.bg--white--hover:hover {
  background-color: color(var(--whiteColor) l(-10%));
}

.bg--teal {
  background-color: var(--tealColor);
}
.bg--teal--hover:hover {
  background-color: color(var(--tealColor) l(-10%));
}

.bg--orange {
  background-color: var(--orangeColor);
}
.bg--orange--hover:hover {
  background-color: color(var(--orangeColor) l(-10%));
}

.bg--blue {
  background-color: var(--blueColor);
}
.bg--blue--hover:hover {
  background-color: color(var(--blueColor) l(-10%));
}

.bg--darkBlue {
  background-color: var(--darkBlueColor);
}
.bg--darkBlue--hover:hover {
  background-color: color(var(--darkBlueColor) l(+10%));
}

.bg--gray1 {
  background-color: var(--grayColor1);
}
.bg--gray1--hover:hover {
  background-color: color(var(--grayColor1) l(+10%));
}

.bg--gray2 {
  background-color: var(--grayColor2);
}
.bg--gray2--hover:hover {
  background-color: color(var(--grayColor2) l(+10%));
}

.bg--gray3 {
  background-color: var(--grayColor3);
}
.bg--gray3--hover:hover {
  background-color: color(var(--grayColor3) l(+10%));
}

.bg--gray4 {
  background-color: var(--grayColor4);
}
.bg--gray4--hover:hover {
  background-color: color(var(--grayColor4) l(-10%));
}

.bg--gray5 {
  background-color: var(--grayColor5);
}
.bg--gray5--hover:hover {
  background-color: color(var(--grayColor5) l(-10%));
}

.bg--gray6 {
  background-color: var(--grayColor6);
}
.bg--gray6--hover:hover {
  background-color: color(var(--grayColor6) l(-10%));
}

.bg--gray7 {
  background-color: var(--grayColor7);
}
.bg--gray7--hover:hover {
  background-color: color(var(--grayColor7) l(-10%));
}
