html {
  box-sizing: border-box;
  font-size: var(--fontSizeHtml);
  height: 100%;
  margin: 0;
  padding: 0;

  @media (--from-bp4) {
    font-size: var(--fontSizeHtmlLarge);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--grayColor1);
  font-family: var(--fontBase);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  position: relative;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--blackColor);
  font-family: var(--fontHeading);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  line-height: var(--fontSizeHeading1);
}

h1 {
  font-size: var(--fontSizeHeading1)
}

h2 {
  font-size: var(--fontSizeHeading2)
}

h3 {
  font-size: var(--fontSizeHeading3)
}

h4 {
  font-size: var(--fontSizeHeading4)
}

h5 {
  font-size: var(--fontSizeHeading5)
}

h6 {
  font-size: var(--fontSizeHeading6)
}

p {
  padding-bottom: 2.4rem;
}

form {
  width: 100%;
  padding: 0;
}

pre,
code,
samp,
kbd {
  background-color: var(--grayColor6);
  font-size: var(--fontSize1);
  color: color(var(--primaryColor) l(-5%));
  font-family: var(--fontMono);
  line-height: 1;
}

code,
samp,
kbd {
  border-radius: var(--borderRadius);
  overflow-y: hidden;
  overflow-x: auto;
  padding: .4rem .4rem .2rem;
}

pre {
  border-radius: var(--borderRadius);
  line-height: var(--lineHeight);
  overflow-y: hidden;
  overflow-x: auto;
  padding: 1.2rem 1rem;
  margin: 0 0 2.4rem;

  code,
  samp,
  kbd {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
  }
}

a {
  text-decoration: none;
}

a:link {
  color: var(--linkColor);
}

a:visited {
  color: var(--linkVisitedColor);
}

a:hover,
a:focus {
  text-decoration: underline;
  color: color(var(--linkColor) l(-5%));
  outline: none;
}

a:active {
  color: var(--linkActiveColor);
}

img,
video {
  max-width: 100%;
  display: table;
}

hr {
  height: 4.8rem;
  margin-bottom: 2.4rem;
  position: relative;

  &:before{
    background-color: var(--grayColor4);
    content: '';
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

ol,
ul {
  margin-left: 2rem;
  padding: 0 0 2.4rem;
}

ol {
  list-style-type: decimal;
}

ol ol {
  padding-bottom: 0;
}

ul {
  list-style-type: disc;
}

ul ul {
  padding-bottom: 0;
}

dt {
  font-style: italic;
}
dd {
  padding-left: 2rem;
}

blockquote {
  margin: 0 0 2.4rem 1.2rem;
  border-left: .3rem solid var(--grayColor4);
  padding: 2.4rem 1.2rem;

  p:last-child{
    padding-bottom: 0;
  }
}


figure {
  margin: 0 auto;
  padding-bottom: 2.4rem;

  img{
    display: table;
    margin: 0 auto;
  }
}

small,
sub,
sup {
  font-size: var(--fontSize1);
  line-height: 1;
}

caption,
figcaption {
  font-size: var(--fontSize1);
  font-style: italic;
  text-align: center;
}

em,
cite,
i {
  font-style: italic;
}

strong,
var,
b {
  font-weight: bold;
}

q {
  &:before{
    content: "'";
  }

  &:after{
    content: "'";
  }

  & > q{
    font-style: italic;
  }
}

dfn,
abbr {
  border-bottom: .1rem dotted var(--grayColor2);
  cursor: default;
}

table {
  border-radius: var(--borderRadius);
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 2.4rem;
  width: 100%;

  th {
    font-weight: 500;
    text-align: left;
  }

  th, td {
    padding: 0 .6rem;
  }
}

label {
  color: var(--grayColor3);
}

input,
label,
select,
button,
textarea
{
  display: block;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* remove yellow from chrome auto-fill background */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  color: var(--grayColor1);
  -webkit-text-fill-color: var(--grayColor1);
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

