.br--tl {
  border-top-left-radius: var(--borderRadius);
}
.br--tr {
  border-top-right-radius: var(--borderRadius);
}
.br--t {
  @extend .br--tl;
  @extend .br--tr;
}

.br--bl {
  border-bottom-left-radius: var(--borderRadius);
}
.br--br {
  border-bottom-right-radius: var(--borderRadius);
}
.br--b {
  @extend .br--bl;
  @extend .br--br;
}

.br--a {
  border-radius: var(--borderRadius);
}

.bw--a-1 {
  border-style: solid;
  border-width: 0.1rem;
}

.bw--a-2 {
  border-style: solid;
  border-width: 0.2rem;
}

.bw--a-3 {
  border-style: solid;
  border-width: 0.3rem;
}

.bw--a-4 {
  border-style: solid;
  border-width: 0.4rem;
}

.bw--t-1 {
  border-top-style: solid;
  border-top-width: 0.1rem;
}

.bw--t-2 {
  border-top-style: solid;
  border-top-width: 0.2rem;
}

.bw--t-3 {
  border-top-style: solid;
  border-top-width: 0.3rem;
}

.bw--t-4 {
  border-top-style: solid;
  border-top-width: 0.4rem;
}

.bw--b-1 {
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
}

.bw--b-2 {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
}

.bw--b-3 {
  border-bottom-style: solid;
  border-bottom-width: 0.3rem;
}

.bw--b-4 {
  border-bottom-style: solid;
  border-bottom-width: 0.4rem;
}

.bw--l-1 {
  border-left-style: solid;
  border-left-width: 0.1rem;
}

.bw--l-2 {
  border-left-style: solid;
  border-left-width: 0.2rem;
}

.bw--l-3 {
  border-left-style: solid;
  border-left-width: 0.3rem;
}

.bw--l-4 {
  border-left-style: solid;
  border-left-width: 0.4rem;
}

.bw--r-1 {
  border-right-style: solid;
  border-right-width: 0.1rem;
}

.bw--r-2 {
  border-right-style: solid;
  border-right-width: 0.2rem;
}

.bw--r-3 {
  border-right-style: solid;
  border-right-width: 0.3rem;
}

.bw--r-4 {
  border-right-style: solid;
  border-right-width: 0.4rem;
}

.bc--primary {
  border-color: var(--primaryColor);
}

.bc--success {
  border-color: var(--successColor);
}

.bc--danger {
  border-color: var(--dangerColor);
}

.bc--black {
  border-color: var(--blackColor);
}

.bc--white {
  border-color: var(--whiteColor);
}

.bc--teal {
  border-color: var(--tealColor);
}

.bc--orange {
  border-color: var(--orangeColor);
}

.bc--blue {
  border-color: var(--blueColor);
}

.bc--darkBlue {
  border-color: var(--darkBlueColor);
}

.bc--gray1 {
  border-color: var(--grayColor1);
}

.bc--gray2 {
  border-color: var(--grayColor2);
}

.bc--gray3 {
  border-color: var(--grayColor3);
}

.bc--gray4 {
  border-color: var(--grayColor4);
}

.bc--gray5 {
  border-color: var(--grayColor5);
}

.bc--gray6 {
  border-color: var(--grayColor6);
}

.bc--gray7 {
  border-color: var(--grayColor7);
}
