.button {
  border: none;
  border-radius: var(--borderRadius);
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  transition-property: background-color;
  transition-duration: 200ms;
  text-align: center;
  user-select: none;
  width: auto;

  &:last-child {
    margin-right: 0;
  }

  &:link,
  &:visited{
    text-decoration: none;
  }

  &:focus,
  &:hover {
    outline: none;
  }
}

.button--link {
  background-color: transparent;
  color: var(--linkColor);
  text-decoration: none;

  &:link {
    color: var(--linkColor);
  }

  &:visited {
    color: var(--linkVisitedColor);
  }

  &:focus,
  &:hover {
    text-decoration: underline;
    color: color(var(--linkColor) l(-5%));
    background-color: transparent;
  }

  &:active {
    color: var(--linkActiveColor);
    background-color: transparent;
  }
}


@include button(danger, var(--dangerColor), var(--whiteColor));
@include button(success, var(--successColor), var(--whiteColor));
@include button(primary, var(--primaryColor), var(--whiteColor));
@include button(black, var(--blackColor), var(--whiteColor));
@include button(gray, var(--grayColor5), var(--whiteColor));
@include button(blue, var(--blueColor), var(--whiteColor));
@include button(darkBlue, var(--darkBlueColor), var(--whiteColor));
@include button(teal, var(--tealColor), var(--whiteColor));
@include button(orange, var(--orangeColor), var(--whiteColor));

@include button-size(1, var(--inputHeight1), var(--fontSize1), 0 1.4rem);
@include button-size(2, var(--inputHeight2), var(--fontSizeForm), 0 2.2rem);
@include button-size(3, var(--inputHeight3), var(--fontSize3), 0 2.8rem);
