.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

@media (--to-bp1) {
  .hide--to-bp1 {
    display: none;
  }
  .hidden--to-bp1 {
    visibility: hidden;
  }
}

@media (--to-bp2) {
  .hide--to-bp2 {
    display: none;
  }
  .hidden--to-bp2 {
    visibility: hidden;
  }
}

@media (--to-bp3) {
  .hide--to-bp3 {
    display: none;
  }
  .hidden--to-bp3 {
    visibility: hidden;
  }
}

@media (--to-bp4) {
  .hide--to-bp4 {
    display: none;
  }
  .hidden--to-bp4 {
    visibility: hidden;
  }
}

@media (--to-bp5) {
  .hide--to-bp5 {
    display: none;
  }
  .hidden--to-bp5 {
    visibility: hidden;
  }
}

@media (--from-bp1) {
  .hide--from-bp1 {
    display: none;
  }
  .hidden--from-bp1  {
    visibility: hidden;
  }
}

@media (--from-bp2) {
  .hide--from-bp2 {
    display: none;
  }
  .hidden--from-bp2  {
    visibility: hidden;
  }
}

@media (--from-bp3) {
  .hide--from-bp3 {
    display: none;
  }
  .hidden--from-bp3 {
    visibility: hidden;
  }
}

@media (--from-bp4) {
  .hide--from-bp4 {
    display: none;
  }
  .hidden--from-bp4  {
    visibility: hidden;
  }
}

@media (--from-bp5) {
  .hide--from-bp5 {
    display: none;
  }
  .hidden--from-bp5 {
    visibility: hidden;
  }
}
