.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}

.dir--col {
  flex-direction: column;
}

.dir--col-reverse {
  flex-direction: column-reverse;
}

.dir--row {
  flex-direction: row;
}

.dir--row-reverse {
  flex-direction: row-reverse;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}
