/* input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select  */
.input {
  appearance: none;
  background-color: transparent;
  border: .1rem solid var(--grayColor5);
  border-radius: var(--borderRadius);
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: var(--space-1);
  width: 100%;

  &:focus {
    border-color: var(--primaryColor);
    outline: 0;
  }
}

@include input-size(1, var(--inputHeight1), var(--fontSize1), .4rem .8rem);
@include input-size(2, var(--inputHeight2), var(--fontSizeForm), .6rem 1.0rem);
@include input-size(3, var(--inputHeight3), var(--fontSize3), 1rem 1.4rem);

.select {
  font-size: var(--fontSizeForm);
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: var(--space-5);

  &:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  }
}

.textarea {
  font-size: var(--fontSizeForm);
  min-height: var(--space-7);
}

.label,
.legend {
  display: block;
  font-size: var(--fontSizeForm);
  font-weight: 700;
  margin-bottom: var(--space-1);
}

.fieldset {
  border-width: 0;
  padding: 0;
}

/* input[type='checkbox'],
input[type='radio'] */
.checkbox, .radio {
  font-size: var(--fontSizeForm);
  display: inline;
}

.label--inline {
  font-size: var(--fontSizeForm);
  display: inline-block;
  font-weight: normal;
  margin-left: var(--space-1);
}

.button--form {
  padding: 0;
}

.label--error {
  width: 100%;
  margin-bottom: var(--space-1);
}

.label--error__message {
  font-size: var(--fontSize1);
  color: var(--dangerColor);
}
