@lost flexbox flex;

@include container(1, 30rem);
@include container(2, 40rem);
@include container(3, 50rem);
@include container(4, 60rem);
@include container(5, 70rem);
@include container(6, 96rem);
@include container(7, 114rem);

.container {
  @extends .container--6;
}

.row {
  margin-top: var(--space-2);
}

.row--aic {
  align-items: center;
}

.column-start {
  justify-self: flex-start;
}

.column-end {
  justify-self: flex-end;
}

.col {
  margin-top: var(--space-2);
  width: 100%;
}

@media (--from-bp1) {
  .row {
    display: flex;
  }

  @include column(1-2, 1, 2);

  @include column(1-3, 1, 3);
  @include column(2-3, 2, 3);

  @include column(1-4, 1, 4);
  @include column(2-4, 2, 4);
  @include column(3-4, 3, 4);

  @include column(1-5, 1, 5);
  @include column(2-5, 2, 5);
  @include column(3-5, 3, 5);
  @include column(4-5, 4, 5);

  @include column(1-6, 1, 6);
  @include column(2-6, 2, 6);
  @include column(3-6, 3, 6);
  @include column(4-6, 4, 6);
  @include column(5-6, 5, 6);

  @include column(1-7, 1, 7);
  @include column(2-7, 2, 7);
  @include column(3-7, 3, 7);
  @include column(4-7, 4, 7);
  @include column(5-7, 5, 7);
  @include column(6-7, 6, 7);

  @include column(1-8, 1, 8);
  @include column(2-8, 2, 8);
  @include column(3-8, 3, 8);
  @include column(4-8, 4, 8);
  @include column(5-8, 5, 8);
  @include column(6-8, 6, 8);
  @include column(7-8, 7, 8);
}
