.i {
  display: inline-block;
  vertical-align: middle;
  stroke: currentColor;
}

.i--sz-1 {
  max-width: var(--fontSize1);
}

.i--sz-2 {
  max-width: var(--fontSize2);
}

.i--sz-3 {
  max-width: var(--fontSize3);
}

.i--sz-4 {
  max-width: var(--fontSize4);
}

.i--sz-5 {
  max-width: var(--fontSize5);
}

.i--sz-6 {
  max-width: var(--fontSize6);
}

.i--sz-7 {
  max-width: var(--fontSize7);
}
