@mixin button($modifier, $color, $textColor) {
  .button--$modifier {
    background-color: $color;
    color: $textColor;

    &:link,
    &:visited {
      color: $textColor;
      text-decoration: none;
    }

    &:focus,
    &:hover {
      background-color: color($color l(-5%));
      color: $textColor;
    }

    &:active {
      background-color: $color;
    }
  }
}

@mixin button-size($modifier, $height, $fontSize, $padding) {
  .button--sz-$modifier {
    height: $height;
    line-height: $height;
    font-size: $fontSize;
    padding: $padding;
  }
}

@mixin input-size($modifier, $height, $fontSize, $padding) {
  .input--sz-$modifier {
    height: $height;
    line-height: $height;
    font-size: $fontSize;
    padding: $padding;
  }
}

@mixin container($modifier, $width) {
  .container--$modifier {
    lost-center: $width;
    flex-flow: column wrap;
  }
}

@mixin column($modifier, $span, $columns) {
  .col--$modifier {
    lost-column: $span/$columns;
    margin-top: 0;
  }
}
