.nav {
  display: flex;
  padding: var(--space-2);
  align-items: center;
}

.nav-logo {
  max-width: 3rem;
}

.nav-brand {
  display: flex;
  flex: 1;
  color: var(--grayColor3);
  font-size: var(--fontSize3);
  font-weight: 500;
  align-items: center;
}

.nav-brand--text {
  display: block;
  font-size: var(--fontSize4);
  font-weight: 300;
  letter-spacing: 0.15rem;
  margin-left: var(--space-1);
  text-transform: uppercase;
}

.nav-brand--text, .nav-brand--text:link, .nav-brand--text:visited {
  color: var(--grayColor3);
}

.nav-brand--text:hover, .nav-brand--text:active, .nav-brand--text:focus {
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-profile {
  flex: 1;
}
