.space--t-1 {
  padding-top: var(--space-1);
}
.space--b-1 {
  padding-bottom: var(--space-1);
}
.space--l-1 {
  padding-left: var(--space-1);
}
.space--r-1 {
  padding-right: var(--space-1);
}
.space--h-1 {
  @extend .space--l-1;
  @extend .space--r-1;
}
.space--v-1 {
  @extend .space--t-1;
  @extend .space--b-1;
}
.space--a-1 {
  @extend .space--t-1;
  @extend .space--b-1;
  @extend .space--l-1;
  @extend .space--r-1;
}
.space--t-2 {
  padding-top: var(--space-2);
}
.space--b-2 {
  padding-bottom: var(--space-2);
}
.space--l-2 {
  padding-left: var(--space-2);
}
.space--r-2 {
  padding-right: var(--space-2);
}
.space--h-2 {
  @extend .space--l-2;
  @extend .space--r-2;
}
.space--v-2 {
  @extend .space--t-2;
  @extend .space--b-2;
}
.space--a-2 {
  @extend .space--t-2;
  @extend .space--b-2;
  @extend .space--l-2;
  @extend .space--r-2;
}
.space--t-3 {
  padding-top: var(--space-3);
}
.space--b-3 {
  padding-bottom: var(--space-3);
}
.space--l-3 {
  padding-left: var(--space-3);
}
.space--r-3 {
  padding-right: var(--space-3);
}
.space--h-3 {
  @extend .space--l-3;
  @extend .space--r-3;
}
.space--v-3 {
  @extend .space--t-3;
  @extend .space--b-3;
}
.space--a-3 {
  @extend .space--t-3;
  @extend .space--b-3;
  @extend .space--l-3;
  @extend .space--r-3;
}
.space--t-4 {
  padding-top: var(--space-4);
}
.space--b-4 {
  padding-bottom: var(--space-4);
}
.space--l-4 {
  padding-left: var(--space-4);
}
.space--r-4 {
  padding-right: var(--space-4);
}
.space--h-4 {
  @extend .space--l-4;
  @extend .space--r-4;
}
.space--v-4 {
  @extend .space--t-4;
  @extend .space--b-4;
}
.space--a-4 {
  @extend .space--t-4;
  @extend .space--b-4;
  @extend .space--l-4;
  @extend .space--r-4;
}
.space--t-5 {
  padding-top: var(--space-5);
}
.space--b-5 {
  padding-bottom: var(--space-5);
}
.space--l-5 {
  padding-left: var(--space-5);
}
.space--r-5 {
  padding-right: var(--space-5);
}
.space--h-5 {
  @extend .space--l-5;
  @extend .space--r-5;
}
.space--v-5 {
  @extend .space--t-5;
  @extend .space--b-5;
}
.space--a-5 {
  @extend .space--t-5;
  @extend .space--b-5;
  @extend .space--l-5;
  @extend .space--r-5;
}
.space--t-6 {
  padding-top: var(--space-6);
}
.space--b-6 {
  padding-bottom: var(--space-6);
}
.space--l-6 {
  padding-left: var(--space-6);
}
.space--r-6 {
  padding-right: var(--space-6);
}
.space--h-6 {
  @extend .space--l-6;
  @extend .space--r-6;
}
.space--v-6 {
  @extend .space--t-6;
  @extend .space--b-6;
}
.space--a-6 {
  @extend .space--t-6;
  @extend .space--b-6;
  @extend .space--l-6;
  @extend .space--r-6;
}

.space--mt-1 {
  margin-top: var(--space-1);
}
.space--mb-1 {
  margin-bottom: var(--space-1);
}
.space--ml-1 {
  margin-left: var(--space-1);
}
.space--mr-1 {
  margin-right: var(--space-1);
}
.space--mh-1 {
  @extend .space--ml-1;
  @extend .space--mr-1;
}
.space--mv-1 {
  @extend .space--mt-1;
  @extend .space--mb-1;
}
.space--ma-1 {
  @extend .space--mt-1;
  @extend .space--mb-1;
  @extend .space--ml-1;
  @extend .space--mr-1;
}
.space--mt-2 {
  margin-top: var(--space-2);
}
.space--mb-2 {
  margin-bottom: var(--space-2);
}
.space--ml-2 {
  margin-left: var(--space-2);
}
.space--mr-2 {
  margin-right: var(--space-2);
}
.space--mh-2 {
  @extend .space--ml-2;
  @extend .space--mr-2;
}
.space--mv-2 {
  @extend .space--mt-2;
  @extend .space--mb-2;
}
.space--ma-2 {
  @extend .space--mt-2;
  @extend .space--mb-2;
  @extend .space--ml-2;
  @extend .space--mr-2;
}
.space--mt-3 {
  margin-top: var(--space-3);
}
.space--mb-3 {
  margin-bottom: var(--space-3);
}
.space--ml-3 {
  margin-left: var(--space-3);
}
.space--mr-3 {
  margin-right: var(--space-3);
}
.space--mh-3 {
  @extend .space--ml-3;
  @extend .space--r-3;
}
.space--mv-3 {
  @extend .space--mt-3;
  @extend .space--mb-3;
}
.space--ma-3 {
  @extend .space--mt-3;
  @extend .space--mb-3;
  @extend .space--ml-3;
  @extend .space--mr-3;
}
.space--mt-4 {
  margin-top: var(--space-4);
}
.space--mb-4 {
  margin-bottom: var(--space-4);
}
.space--ml-4 {
  margin-left: var(--space-4);
}
.space--mr-4 {
  margin-right: var(--space-4);
}
.space--mh-4 {
  @extend .space--ml-4;
  @extend .space--mr-4;
}
.space--mv-4 {
  @extend .space--mt-4;
  @extend .space--mb-4;
}
.space--ma-4 {
  @extend .space--mt-4;
  @extend .space--mb-4;
  @extend .space--ml-4;
  @extend .space--mr-4;
}
.space--mt-5 {
  margin-top: var(--space-5);
}
.space--mb-5 {
  margin-bottom: var(--space-5);
}
.space--ml-5 {
  margin-left: var(--space-5);
}
.space--mr-5 {
  margin-right: var(--space-5);
}
.space--mh-5 {
  @extend .space--ml-5;
  @extend .space--mr-5;
}
.space--mv-5 {
  @extend .space--mt-5;
  @extend .space--mb-5;
}
.space--ma-5 {
  @extend .space--mt-5;
  @extend .space--mb-5;
  @extend .space--ml-5;
  @extend .space--mr-5;
}
.space--mt-6 {
  margin-top: var(--space-6);
}
.space--mb-6 {
  margin-bottom: var(--space-6);
}
.space--ml-6 {
  margin-left: var(--space-6);
}
.space--mr-6 {
  margin-right: var(--space-6);
}
.space--mh-6 {
  @extend .space--ml-6;
  @extend .space--mr-6;
}
.space--mv-6 {
  @extend .space--mt-6;
  @extend .space--mb-6;
}
.space--ma-6 {
  @extend .space--mt-6;
  @extend .space--mb-6;
  @extend .space--ml-6;
  @extend .space--mr-6;
}

@media (--to-bp1) {
  .space--mt-1--to-bp1 {
    @extend .space--mt-1;
  }
  .space--mb-1--to-bp1 {
    @extend .space--mb-1;
  }
  .space--mr-1--to-bp1 {
    @extend .space--mr-1;
  }
  .space--ml-1--to-bp1 {
    @extend .space--ml-1;
  }
  .space--mt-2--to-bp1 {
    @extend .space--mt-2;
  }
  .space--mb-2--to-bp1 {
    @extend .space--mb-2;
  }
  .space--mr-2--to-bp1 {
    @extend .space--mr-2;
  }
  .space--ml-2--to-bp1 {
    @extend .space--ml-2;
  }
}
