.ts--1 {
  font-size: var(--fontSize1);
}

.ts--2 {
  font-size: var(--fontSize2);
}

.ts--3 {
  font-size: var(--fontSize3);
}

.ts--4 {
  font-size: var(--fontSize4);
}

.ts--5 {
  font-size: var(--fontSize5);
}

.ts--6 {
  font-size: var(--fontSize6);
}

.ts--7 {
  font-size: var(--fontSize7);
}

.ts--form {
  font-size: var(--fontSizeForm);
}

.tw--light {
  font-weight: 300;
}

.tw--normal {
  font-weight: 400;
}

.tw--medium {
  font-weight: 500;
}

.tw--semibold {
  font-weight: 600;
}

.tw--bold {
  font-weight: 700;
}

.tc--primary {
  color: var(--primaryColor);
}

.tc--success {
  color: var(--successColor);
}

.tc--danger {
  color: var(--dangerColor);
}

.tc--black {
  color: var(--blackColor);
}

.tc--white {
  color: var(--whiteColor);
}

.tc--teal {
  color: var(--tealColor);
}

.tc--orange {
  color: var(--orangeColor);
}

.tc--blue {
  color: var(--blueColor);
}

.tc--darkBlue {
  color: var(--darkBlueColor);
}

.tc--gray1 {
  color: var(--grayColor1);
}

.tc--gray2 {
  color: var(--grayColor2);
}

.tc--gray3 {
  color: var(--grayColor3);
}

.tc--gray4 {
  color: var(--grayColor4);
}

.tc--gray5 {
  color: var(--grayColor5);
}

.tc--gray6 {
  color: var(--grayColor6);
}

.tc--gray7 {
  color: var(--grayColor7);
}
