:root {
  /* Colors */
  --primaryColor: #8350FA;
  --successColor: #76FF03;
  --dangerColor: #C62828;

  --orangeColor: #FF5722;
  --tealColor: #2CA696;
  --blueColor: #2196F3;
  --darkBlueColor: #1565C0;
  --blackColor: #37474F;

  --grayColor1: #455A64;
  --grayColor2: #546E7A;
  --grayColor3: #607D8B;
  --grayColor4: #90A4AE;
  --grayColor5: #B0BEC5;
  --grayColor6: #CFD8DC;
  --grayColor7: #ECEFF1;

  --whiteColor: #FFF;

  --linkColor: var(--blueColor);
  --linkVisitedColor: var(--darkBlueColor);
  --linkActiveColor: var(--blueColor);

  /* Fonts */
  --lineHeight: 2.4rem;

  --fontSize1: 1.2rem;
  --fontSize2: 1.6rem;
  --fontSize3: 1.8rem;
  --fontSize4: 2rem;
  --fontSize5: 2.8rem;
  --fontSize6: 3.2rem;
  --fontSize7: 3.6rem;

  --fontSize: var(--fontSize2);
  --fontSizeForm: 1.4rem;

  --fontSizeHtml: 62.5%;
  --fontSizeHtmlLarge: 68.75%;

  --fontBase: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fontMono: 'Consolas', 'Monaco', 'Courier New', monospace;

  --fontBody: var(--fontBase);
  --fontHeading: var(--fontBase);

  --fontColorBody: var(--blackColor);
  --fontColorHeading: color(var(--fontBodyColor) l(-5%));

  --fontSizeHeading1: var(--fontSize7);
  --fontSizeHeading2: var(--fontSize6);
  --fontSizeHeading3: var(--fontSize5);
  --fontSizeHeading4: var(--fontSize4);
  --fontSizeHeading5: var(--fontSize3);
  --fontSizeHeading6: var(--fontSize2);

  /* Inputs */
  --borderRadius: .4rem;

  --inputHeight1: 3rem;
  --inputHeight2: 3.8rem;
  --inputHeight3: 4.4rem;

  /* Spacing */
  --space-1: .4rem;
  --space-2: 1rem;
  --space-3: 1.6rem;
  --space-4: 2rem;
  --space-5: 3rem;
  --space-6: 4rem;
  --space-7: 5rem;

  /* zIndex */
  --zIndex0: -1;
  --zIndex1: 100;
  --zIndex2: 200;
  --zIndex3: 300;
  --zIndex4: 400;
  --zIndex5: 500;
  --zIndex6: 600;
  --zIndex7: 700;
  --zIndex8: 800;
  --zIndex9: 900;
  --zIndex10: 1000;
}
